/* reglas
selectores
declaraciones
propiedades
valores */

body{
    font-family: 'Source Sans Pro','Times New Roman';
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}

h1{
    font-size: 40px; /* tamaño de letra */
    line-height: 1.5em; /* espacio entre lineas */
    letter-spacing: -.2px; /*espacio entre letras */
    text-transform: uppercase; /* se transforma a mayusculas */
    color: white;
    margin: 0;
}

h2 {
    color:#026fff ;
    text-transform: uppercase;
    font-family: 'Source Sans Pro','Times New Roman';
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

h1 strong {
    color: #026fff;
}
    /* box-sizing:border-box => esta propiedad hace que el height y el width no se alteren
        así se modifique el padding o el border. */
.portfolio{
    background: #fafafa;
    padding: 20px;
}

.project_course,
.project_date,
.project_url {
    margin: 10px 0;
}

.project_description {
    font-size: 20px;
}
.project strong {
    font-family: 'Fjalla One', sans-serif;
}

.project {
    border: 1px solid gray;
    border-radius: 10px;
    /* margin: 10px; */
    margin-bottom: 15px;
    padding: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.project_title {
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.project_details {
    width: 500px;
}

.project_imageContainer {
    width: 500px;
}
.hero {
    height: 300px;
    /* background-image: url('../images/hero.jpg'); */
    background-color: #1b2127;;
    /* background-size: 500px 300px; /*width height*/
    /* background-repeat: no-repeat; */
    /* background-position-x: right; */ 
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header {
    background-color: #1b2127;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}
.menu{
    height: inherit;
}
.header ol {
    display: flex;
    height: inherit;
    
}
.header ol li {
    height: inherit;
  
}

.header a {
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
figure {
    margin: 0;
}

.header a{
    color:white;
    text-decoration: none;
}

.footer {
    color: white;
    background-color: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.footer a {
    color:white;
}
.footer img {
    vertical-align: middle; /* se usa cuando se mezcle parrafos con imagenes.*/
}
.event_list_title h2{
    margin-left: 20px;
}
.event_list{
    display: flex;
    flex-wrap: wrap;
}

.event {
    flex-shrink: 0;
    margin: 10px;
    width: 480px;
    border-radius: 10px;
    overflow: hidden; /*oculta la parte que se desborda del padre...*/
    background-color:#f4fbff;
}

.event img {
    width: 480px;
    height: 200px;
    object-fit: cover; /*proporciona la imagen*/
}

.event_detail {
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white ;
    position: relative;
    padding: 20px;
    text-align: center;
}

.event_description {
    text-align: left;
}
.event_url {
    color: #056fff;
    border: 1px solid;
    padding: 5px 20px;
    text-decoration: none;
    border-radius:5px;
}

.contact {
    background-color: #056fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social_link {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px; 
    background-size: 50px 50px;
}

.social_link.twitter {
    background-image: url('../images/twitter.svg');
}

.social_link.facebook {
    background-image: url('../images/facebook.svg');
}
.social_link.github {
    background-image: url('../images/github.svg');
}
.social_link.instagram {
    background-image: url('../images/instagram.svg');
}

.form_email input {
    border-color: gray;
    padding: 10px 20px 10px 25px;
    background-image: url('../images/envelope.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
    border-radius: 5px;
    border-style: solid;
}

.form_email button {
    display: block;
    margin-top: 10px;
    background: transparent;
    color: white;
    padding: 10px 0px;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
}

.form_email h3 {
    font-family: 'Source Sans Pro','Times New Roman';   
}

.container {
    width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

.hero_image {
    object-fit: cover;
}